@inject UserManager<ApplicationUser> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PopeyeClub</title>
    <link href="~/Images/popeye-the-sailor-man.jpg" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/Hover-master/css/hover-min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-dark" id="logo" href="#">Popeye Club</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            ApplicationUser user = await userManager.FindByIdAsync(User.FindFirst(ClaimTypes.NameIdentifier).Value);

                            <li class="nav-item" id="inputHolder">
                                <input type="text" class="form-control" id="searchInput" name="userName" onkeyup="searchUsers()" placeholder="Search users..." />
                                <button type="button" data-toggle="modal" data-target="#listOfUsers" id="toggleBtn" style="display:none"></button>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark hvr-pulse-grow" asp-controller="Post" asp-action="Overview">
                                    <i class="fas fa-home fa-2x hvr-icon-pulse-grow"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark hvr-pulse-grow" asp-controller="Chat" asp-action="Overview">
                                    <i class="far fa-comment fa-2x hvr-icon-pulse-grow"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark hvr-pulse-grow" asp-controller="Notification" asp-action="Overview">
                                    <i class="far fa-bell fa-2x hvr-icon-pulse-grow"></i>
                                </a>
                            </li>
                            <li class="nav-item" id="imgDropdown">
                                <div class="dropdown">
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(user.ProfilePicture)" class="dropdown-toggle hvr-pulse-grow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" />
                                    <div class="dropdown-menu bg-light" id="dropdownMenu" aria-labelledby="dropdownMenuLink">
                                        <button class="btn btn-outline-secondary btn-sm hvr-pulse-grow" id="postBtn">
                                            <i class="fas fa-plus fa-2x"></i>
                                        </button>
                                        <a class="nav-link text-dark" asp-controller="User" asp-action="Profile" asp-route-userId="@User.FindFirst(ClaimTypes.NameIdentifier).Value">Profile</a>
                                        <form asp-controller="Post" asp-action="Create" method="post" enctype="multipart/form-data">
                                            <input type="file" id="fileBtn" name="postImage" hidden />
                                            <input type="submit" value="Create" id="submitPost" hidden />
                                        </form>
                                        <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Log Out</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (User.Identity.IsAuthenticated)
            {
                List<ApplicationUser> users = userManager.Users.Where(x => x.Id != User.FindFirst(ClaimTypes.NameIdentifier).Value && x.IsDeleted.Equals(false)).ToList();
                <partial name="./Partials/_UserTable" for="@users" />
            }
            @RenderBody()
        </main>
    </div>
    <script src="https://kit.fontawesome.com/15dcd5d68f.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/signalR/signalr.min.js"></script>
    <script src="~/js/chatConnection.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>