@model PopeyeClub.ViewModels.Post.PostDetailsViewModel

@{
    ViewData["Title"] = "Post-Details";
}

@section Styles{ 
    <link href="~/css/postDetails.css" rel="stylesheet" />
}

<div class="container">
        <div class="row">
            <div class="col-md-8">
            <div class="post-image">
                <img src="data:image/jpeg;base64,@Model.PostImage" />
            </div>
        </div>
            <div class="col-md-4">
                <div class="user">
                    <img src="data:image/jpeg;base64,@Model.UserImage"/>
                    <a asp-controller="User" asp-action="Profile" asp-route-userId="@Model.UserId" class="text-dark hvr-underline-from-center user-name">@Model.CreatedBy</a>
                    <button class="btn post-actions hvr-grow" type="button" data-toggle="modal" data-target="#postActionModal">
                        <i class="fas fa-ellipsis-h fa-2x hvr-icon-grow"></i>
                    </button>
                    <div class="modal fade modal-align" id="postActionModal" tabindex="-1" role="dialog" aria-labelledby="postActionModalLabel" aria-hidden="true">
                        <partial name="./Partials/_PostActionsModal" for="@Model.PostId" />
                    </div>
                </div>
                <div class="comment-section" id="commentSection">
                    @if (Model.Comments.Count == 0)
                    {
                        <div class="not-available">
                            <p>No comments on this post</p>
                        </div>
                    }

                    @for (int i = 0; i < Model.Comments.Count; i++)
                    {
                        <button class="hide" id="storageBtn-@i" onclick="addToLocalStorage(@Model.Comments.Count, 'CommentIds')"></button>
                        <div class="comment">
                            <div class="user-comment">
                                <img src="data:image/jpeg;base64,@Model.Comments[i].UserImage" />
                                <span>@Model.Comments[i].UserName :</span>
                                <span class="comment-text">@Model.Comments[i].Text</span>
                                <div class="comment-info">
                                    <span class="comment-likes-count"><span id="commentLikes-@i">@Model.Comments[i].CommentLikesCount</span> Likes</span>
                                    <span class="date-created">@Model.Comments[i].DaysAgo Days Ago</span>
                                </div>
                            </div>
                            <div class="comment-like">
                                @if (@Model.Comments[i].CommentLikeStatus == PopeyeClub.ViewModels.Like.Enums.CommentLikeStatus.None)
                                {
                                    <button class="btn hvr-grow" id="addCommentLikeBtn-@i" onclick="addCommentLike(@Model.Comments[i].Id,@i)">
                                        <i class="far fa-thumbs-up fa-2x hvr-icon-grow" style="font-size: 1em;"></i>
                                    </button>
                                    <button class="btn hvr-grow hide" id="removeCommentLikeBtn-@i" onclick="removeCommentLike(@Model.Comments[i].Id,@i)">
                                        <i class="fas fa-thumbs-up fa-2x hvr-icon-grow" style="font-size: 1em;"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn hvr-grow hide" id="addCommentLikeBtn-@i" onclick="addCommentLike(@Model.Comments[i].Id, @i)">
                                        <i class="far fa-thumbs-up fa-2x hvr-icon-grow" style="font-size: 1em;"></i>
                                    </button>
                                    <button class="btn hvr-grow" id="removeCommentLikeBtn-@i" onclick="removeCommentLike(@Model.Comments[i].Id, @i)">
                                        <i class="fas fa-thumbs-up fa-2x hvr-icon-grow" style="font-size: 1em;"></i>
                                    </button>
                                }
                                <button class="btn hvr-grow" type="button" data-toggle="modal" data-target="#commentActionsModal-@i">
                                    <i class="fas fa-ellipsis-h" style="font-size:1em"></i>
                                </button>
                                <div class="modal fade modal-align" id="commentActionsModal-@i" tabindex="-1" role="dialog" aria-labelledby="commentActionsModalLabel" aria-hidden="true">
                                    <partial name="./Partials/_CommentActionsModal" for="@Model.Comments[i]" />
                                </div>
                            </div>
                        </div>
                        <hr />
                    }
                </div>
                <div class="card-actions">
                    @if (Model.PostLikeStatus == PopeyeClub.ViewModels.Like.Enums.PostLikeStatus.None)
                    {
                        <button class="btn hvr-pulse-grow" id="addPostLikeBtn" onclick="addLike(@Model.PostId)">
                            <i class="far fa-heart fa-2x hvr-icon-pulse-grow"></i>
                        </button>
                        <button class="btn hvr-pulse-grow hide" id="removePostLikeBtn" onclick="removeLike(@Model.PostId)">
                            <i class="fas fa-heart fa-2x hvr-icon-pulse-grow"></i>
                        </button>
                    }
                    else
                    {
                        <button class="btn hvr-pulse-grow hide" id="addPostLikeBtn" onclick="addLike(@Model.PostId)">
                            <i class="far fa-heart fa-2x hvr-icon-pulse-grow"></i>
                        </button>
                        <button class="btn hvr-pulse-grow" id="removePostLikeBtn" onclick="removeLike(@Model.PostId)">
                            <i class="fas fa-heart fa-2x hvr-icon-pulse-grow"></i>
                        </button>
                    }
                    <a asp-controller="Post" asp-action="Details" asp-route-postId="@Model.PostId" class="btn hvr-pulse-grow">
                        <i class="far fa-comment-alt fa-2x hvr-icon-pulse-grow"></i>
                    </a>
                    @if (Model.PostSaveStatus == PopeyeClub.ViewModels.Like.Enums.PostSaveStatus.None)
                    {
                        <button class="btn hvr-pulse-grow" id="savePostButton" onclick="addToSaved(@Model.PostId)">
                            <i class="far fa-bookmark fa-2x hvr-icon-pulse-grow"></i>
                        </button>
                        <button class="btn hvr-pulse-grow hide" id="unSavePostButton" onclick="removeFromSaved(@Model.PostId)">
                            <i class="fas fa-bookmark fa-2x hvr-icon-pulse-grow"></i>
                        </button>
                    }
                    else
                    {
                        <button class="btn hvr-pulse-grow pointer hide" id="savePostButton" onclick="addToSaved(@Model.PostId)">
                            <i class="far fa-bookmark fa-2x hvr-icon-pulse-grow"></i>
                        </button>
                        <button class="btn hvr-pulse-grow pointer" id="unSavePostButton" onclick="removeFromSaved(@Model.PostId)">
                            <i class="fas fa-bookmark fa-2x hvr-icon-pulse-grow"></i>
                        </button>
                    }
                </div>
                <div class="likes-count-section">
                    <span>Liked by <span id="likesCount">@Model.PostLikes.Where(x => x.Status.Equals(true)).Count()</span> People</span>
                </div>
                <div class="created-days-ago">
                    <p>Created @Model.DaysAgo days ago</p>
                </div>
                <div class="add-comment-section">
                    <form class="form-inline" method="post" onsubmit="addComment(event,@Model.Comments.Count, 'CommentIds')">
                        <input type="hidden" name="postId" value="@Model.PostId"/>
                        <div class="form-group comment-form">
                            <input type="text" name="comment" class="comment-input" id="commentInput" onkeyup="enablePostBtn(event)" placeholder="Write a comment..." required />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Post" id="commentSubmit" class="comment-submit btn btn-outline-primary" />
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
<hr class="splitter"/>
<div class="see-more pointer">
    <a asp-controller="User" asp-action="Profile" asp-route-userId="@Model.UserId" class="text-dark hvr-underline-from-center to-profile">More Posts from @Model.CreatedBy</a>
</div>
    <div class="container">
        <div class="row">
            @if(Model.UserPosts.Count == 0)
            {
                <div class="not-available">
                    <p>No other posts</p>
                </div>
            }
            @foreach (PopeyeClub.ViewModels.Post.UserPostsViewModel post in Model.UserPosts)
            {
                <div class="col-md-4 other-posts">
                    <div class="card">
                        <div class="card-body">
                            <a asp-controller="Post" asp-action="Details" asp-route-postId="@post.PostId" class="pointer">
                                <img class="other-posts-image" src="data:image/jpeg;base64,@post.PostImage"/>
                            </a>
                        </div>
                        <div class="likes-comments-count">
                            <div class="like-counts hvr-pulse-grow pointer">
                                <i class="far fa-heart fa-2x" style="font-size:1.4em;"></i>
                                <span>@post.PostLikesCount</span>
                            </div>
                            <div class="comments-count hvr-pulse-grow pointer">
                                <i class="far fa-comment-alt fa-2x" style="font-size:1.4em;"></i>
                                <span>@post.PostCommentCount</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

@section Scripts{
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/js/postDetails.js"></script>
}