@model List<PopeyeClub.ViewModels.Post.OverviewViewModel>

@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link rel="stylesheet" href="~/css/postOverview.css"/>
}

<div class="container">
    @if (Model.Count == 0)
    {
        <div class="not-available">
            <p>No posts to show</p>
        </div>
    }

    @foreach (var post in Model)
    { 
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <div class="post-user">
                            <img src="data:image/jpeg;base64,@post.ProfilePicture" />
                        </div>
                        <a asp-controller="User" asp-action="Profile" asp-route-userId="@post.UserId" class="text-dark hvr-underline-from-center">@post.UserName</a>
                        <div class="post-actions hvr-grow">
                            <i class="fas fa-ellipsis-h fa-2x hvr-icon-grow"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <img class="post-img" src="data:image/jpeg;base64,@post.PostImage" />
                        <div class="card-actions">
                            @if (post.LikeStatus == PopeyeClub.ViewModels.Like.Enums.PostLikeStatus.None)
                            {
                                <button class="btn hvr-pulse-grow" onclick="addLike(event,@post.PostId)">
                                    <i class="far fa-heart fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                                <button class="btn hvr-pulse-grow hide" onclick="removeLike(event, @post.PostId)">
                                    <i class="fas fa-heart fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn hvr-pulse-grow hide" onclick="addLike(event,@post.PostId)">
                                    <i class="far fa-heart fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                                <button class="btn hvr-pulse-grow" onclick="removeLike(event, @post.PostId)">
                                    <i class="fas fa-heart fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                            }
                            <a class="hvr-pulse-grow">
                                <i class="far fa-comment-alt fa-2x hvr-icon-pulse-grow"></i>
                            </a>
                            <a class="hvr-pulse-grow">
                                <i class="far fa-share-square fa-2x hvr-icon-pulse-grow"></i>
                            </a>
                            <a class="hvr-pulse-grow">
                                <i class="far fa-bookmark fa-2x hvr-icon-pulse-grow"></i>
                            </a>
                        </div>
                        <div class="likes-count-section">
                            <span>Liked by <span>@post.PostLikes.Where(x => x.Status == true).Count()</span> people</span>
                        </div>
                        <div class="comments-section">
                            <div class="view-comment-button">
                                <a class="text-primary hvr-underline-from-center">View All 54234 Comments</a>
                            </div>
                            <div class="comment">
                                <div class="user-comment">
                                    <img src="~/Images/icons8-male-user-96.png" />
                                    <span>some comment</span>
                                </div>
                                <span class="comment-like">
                                    <a class="hvr-grow">
                                        <i class="far fa-thumbs-up fa-2x hvr-icon-grow"></i>
                                    </a>
                                </span>
                            </div>
                            <hr />
                            <div class="comment">
                                <div class="user-comment">
                                    <img src="~/Images/icons8-male-user-96.png" />
                                    <span>some comment</span>
                                </div>
                                <span class="comment-like">
                                    <a class="hvr-grow">
                                        <i class="far fa-thumbs-up fa-2x hvr-icon-grow"></i>
                                    </a>
                                </span>
                            </div>
                            <hr />
                        </div>
                        <div class="created-days-ago">
                            <p>@post.DaysAgo Days Ago</p>
                        </div>
                        <div class="card-footer">
                            <form class="form-inline">
                                <div class="form-group comment-form">
                                    <input type="text" class="comment-input" onkeyup="enablePostBtn(event)" placeholder="Write a comment..." required/>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post" class="comment-submit btn btn-outline-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script src="~/lib/axios/axios.min.js"></script> 
    <script src="~/js/postOverview.js"></script>
}