@model List<PopeyeClub.ViewModels.Post.OverviewViewModel>

@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link rel="stylesheet" href="~/css/postOverview.css"/>
}

<div class="container" id="overview">
    @if (Model.Count == 0)
    {
        <div class="not-available">
            <p>No posts to show</p>
        </div>
    }
    @for (int i = 0; i < Model.Count; i++)
    {
        <button class="hide" id="storageBtn-@i" onclick="addToLocalStorage(@Model.Count, @Model[i].PostComments.Count)"></button>
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <div class="post-user">
                            <img src="data:image/jpeg;base64,@Model[i].ProfilePicture" />
                        </div>
                        <a asp-controller="User" asp-action="Profile" asp-route-userId="@Model[i].UserId" class="text-dark hvr-underline-from-center">@Model[i].UserName</a>
                        <button class="btn post-actions hvr-grow" type="button" data-toggle="modal" data-target="#postActionModal-@i">
                            <i class="fas fa-ellipsis-h fa-2x hvr-icon-grow"></i>
                        </button>
                        <div class="modal fade modal-align" id="postActionModal-@i" tabindex="-1" role="dialog" aria-labelledby="postActionModal-@i-Label" aria-hidden="true">
                            <partial name="./Partials/_PostActionsModal" for="@Model[i]"/>
                        </div>
                    </div>
                    <div class="card-body">
                        <img class="post-img" src="data:image/jpeg;base64,@Model[i].PostImage" />
                        <div class="card-actions">
                            @if (Model[i].LikeStatus == PopeyeClub.ViewModels.ViewModelEnums.PostLikeStatus.None)
                            {
                                <button class="btn hvr-pulse-grow" id="addPostLikeBtn-@i" onclick="addLike(@Model[i].PostId, @i)">
                                    <i class="far fa-heart fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                                <button class="btn hvr-pulse-grow hide" id="removePostLikeBtn-@i" onclick="removeLike(@Model[i].PostId, @i)">
                                    <i class="fas fa-heart fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn hvr-pulse-grow hide" id="addPostLikeBtn-@i" onclick="addLike(@Model[i].PostId, @i)">
                                    <i class="far fa-heart fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                                <button class="btn hvr-pulse-grow" id="removePostLikeBtn-@i" onclick="removeLike(@Model[i].PostId, @i)">
                                    <i class="fas fa-heart fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                            }
                            <a asp-controller="Post" asp-action="Details" asp-route-postId="@Model[i].PostId" class="btn hvr-pulse-grow">
                                <i class="far fa-comment-alt fa-2x hvr-icon-pulse-grow"></i>
                            </a>
                            @if (Model[i].PostSaveStatus == PopeyeClub.ViewModels.ViewModelEnums.PostSaveStatus.None)
                            {
                                <button class="btn hvr-pulse-grow" id="savePostButton-@i" onclick="addToSaved(@Model[i].PostId,@i)" style="cursor:pointer">
                                    <i class="far fa-bookmark fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                                <button class="btn hvr-pulse-grow hide" id="unSavePostButton-@i" onclick="removeFromSaved(@Model[i].PostId, @i)" style="cursor:pointer">
                                    <i class="fas fa-bookmark fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                            }
                            else
                            {
                                <button class="btn hvr-pulse-grow hide" id="savePostButton-@i" onclick="addToSaved(@Model[i].PostId,@i)" style="cursor:pointer">
                                    <i class="far fa-bookmark fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                                <button class="btn hvr-pulse-grow" id="unSavePostButton-@i" onclick="removeFromSaved(@Model[i].PostId, @i)" style="cursor:pointer">
                                    <i class="fas fa-bookmark fa-2x hvr-icon-pulse-grow"></i>
                                </button>
                            }
                        </div>
                        <div class="likes-count-section">
                            <span>Liked by <span id="likesCount-@i">@Model[i].PostLikes.Where(x => x.Status.Equals(true)).Count()</span> people</span>
                        </div>
                        <div class="comments-section" id="commentSection-@i">
                            <div class="view-comment-button">
                                <a asp-controller="Post" asp-action="Details" asp-route-postId="@Model[i].PostId" class="text-primary hvr-underline-from-center">View All 
                                <span id="commentCounter-@i">@Model[i].PostCommentsCount</span> Comments
                                </a>
                            </div>
                            @if (Model[i].PostComments.Count == 0)
                            {
                                <div class="not-available" id="noComments-@i">
                                    <p>No comments on this post</p>
                                </div>
                            }
                            @for (int y = 0; y < Model[i].PostComments.Count; y++)
                            {
                                <div class="comment">
                                    <div class="user-comment">
                                        <img src="data:image/jpeg;base64,@Model[i].PostComments[y].UserImage" />
                                        <span>@Model[i].PostComments[y].UserName</span>
                                    </div>
                                    <div class="comment-text">@Model[i].PostComments[y].Text</div>
                                    <div class="comment-like">
                                        @if (Model[i].PostComments[y].CommentLikeStatus == PopeyeClub.ViewModels.ViewModelEnums.CommentLikeStatus.None)
                                        {
                                            <button class="btn hvr-grow" id="addCommentLikeBtn-@i-@y" onclick="addCommentLike(@Model[i].PostComments[y].Id, @i, @y)">
                                                <i class="far fa-thumbs-up fa-2x hvr-icon-grow" style="font-size:1em"></i>
                                            </button>
                                            <button class="btn hvr-grow hide" id="removeCommentLikeBtn-@i-@y" onclick="removeCommentLike(@Model[i].PostComments[y].Id, @i, @y)">
                                                <i class="fas fa-thumbs-up fa-2x hvr-icon-grow" style="font-size:1em"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn hvr-grow hide" id="addCommentLikeBtn-@i-@y"  onclick="addCommentLike(@Model[i].PostComments[y].Id, @i, @y)">
                                                <i class="far fa-thumbs-up fa-2x hvr-icon-grow" style="font-size:1em"></i>
                                            </button>
                                            <button class="btn hvr-grow" id="removeCommentLikeBtn-@i-@y" onclick="removeCommentLike(@Model[i].PostComments[y].Id, @i, @y)">
                                                <i class="fas fa-thumbs-up fa-2x hvr-icon-grow" style="font-size:1em"></i>
                                            </button>
                                        }
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>
                        <div class="created-days-ago">
                            <p>@Model[i].DaysAgo Days Ago</p>
                        </div>
                        <div class="card-footer">
                            <form  class="form-inline" method="post" onsubmit="addComment(event, @i , @Model[i].PostComments.Count, 'CommentIds')">
                                <input type="hidden" name="postId" value="@Model[i].PostId" />
                                <div class="form-group comment-form">
                                    <input type="text" name="comment" class="comment-input" id="commentInput-@i" onkeyup="enablePostBtn(@i)" placeholder="Write a comment..." required/>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post" id="commentSubmit-@i" class="comment-submit btn btn-outline-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/js/postOverview.js"></script>
}